@import url("https://fonts.google.com/specimen/Overpass?preview.text_type=custom");
@import url("https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom");
:root {
  --Light__red: hsl(356, 100%, 66%);
  --Light__red_02: hsl(353, 100%, 62%);
  --Very__dark-blue: hsl(208, 49%, 24%);
  --White: hsl(0, 0%, 100%);
  --Very__dark__gray-blue: hsl(237, 17%, 21%);
  --Very__dark__desaturated-blue: hsl(237, 23%, 32%);
  --Very__dark__black-blue: hsl(240, 10%, 16%);
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
  font-family: "Overpass", sans-serif;
  font-size: 18px;
}
body {
  font-size: calc(0.7rem + 0.3vw);
  overflow-x: hidden;
}
.menu-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: url("images/bg-pattern-intro-desktop.svg"),
    linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  height: 60vh;
  border-bottom-left-radius: 85px;
  background-position: 34% 53%;
  background-repeat: no-repeat;
  color: var(--White);
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 40%;
  min-width: 340px;
  flex-shrink: 0;
  align-items: center;
}
.menu img {
  object-fit: scale-down;
}
.under__bar {
  position: relative;
  margin-left: 5px;
}
.under__bar a {
  text-decoration: none;
  color: inherit;
}
.menu__nav--tag a {
  display: block;
  margin: 17px auto;
}
.under__bar img {
  margin-left: 5px;
  transition-timing-function: ease;
  transition-duration: 0.4s;
}
.rotate {
  transform: rotate(90deg);
}
.menu__nav {
  background-color: var(--White);
  border-radius: 8px;
  width: 150px;
  position: absolute;
  top: 50px;
  left: -12px;
  color: black;
  max-height: 0;
  transition: max-height 0.3 ease-in-out;
}
.menu__nav.show {
  display: block;
  max-height: 400px;
  height: auto;
  padding: 15px;
}
.menu__nav--tag {
  display: none;
}
.show {
  display: block;
  height: auto;
}
.menu__nav a:hover,
.menu__nav a:focus {
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button,
.login button {
  background-color: var(--White);
  border: 2px solid transparent;
  border-radius: 25px;
  width: 140px;
  padding: 15px;
  display: inline-block;
  color: hsl(353, 100%, 62%);
  font-weight: 700;
  transition: color 0.7s 0.3s ease-in-out;
  transition: background-color 0.7s 0.3s ease-in-out;
}
.login button:hover {
  color: #f8b500;
  background-color: #fceabb;
}

h1 {
  font-size: calc(2.5rem + 1vw);
  font-weight: 400;
  margin-bottom: 10px;
}
.login {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 190px;
  flex-shrink: 0;
  align-items: center;
}
.login button {
  width: 120px;
}
.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
}
.header__btn {
  display: flex;
  width: calc(280px + 2%);
  justify-content: space-between;
  text-align: center;
  margin-top: 25px;
}
.header__btn button:first-child {
  border: 1px solid var(--White);
}
.header__btn button:nth-child(2) {
  background-color: transparent;
  border: 1px solid var(--White);
  color: var(--White);
  transition: color 0.5 0.3 ease-in-out;
  transition: background-color 0.5 0.3 ease-in-out;
}
.header__btn button:nth-child(2):hover {
  color: #f8b500;
  background-color: var(--White);
}
.header__btn button:first-child:hover {
  color: #3b4371;
  background-color: transparent;
}

/* 메인 */
.main-top {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-text {
  width: calc(50% - 2.5%);
  color: hsl(207, 13%, 34%);
  line-height: 2rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
}
h2 {
  text-align: center;
  color: var(--Very__dark-blue);
  font-size: calc(1.7rem + 0.5vw);
  font-weight: 400;
  margin: 105px auto;
}
h3 {
  font-size: calc(1.3rem + 0.5vw);
  color: var(--Very__dark-blue);
}
.main-flex {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
}
.images img:first-of-type {
  position: absolute;
  right: -400px;
  top: -200px;
}
.mobile {
  display: none;
}
.middle-container {
  background-image: url("images/bg-pattern-circles.svg"),
    linear-gradient(
      to right,
      var(--Very__dark__gray-blue),
      var(--Very__dark__desaturated-blue)
    );
  background-position: -65% 87%;
  background-repeat: no-repeat;
  margin: 270px auto;
  border-radius: 0px 75px 0px 75px;
}

.middle-top {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.middle-text {
  width: calc(50% - 2.5%);
  color: hsl(207, 13%, 34%);
  line-height: 2rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
}
.bad .middle-text {
  color: var(--White);
  margin-top: calc(120px - 15px);
  margin-bottom: 120px;
}
.bad img {
  position: absolute;
  left: -50px;
  top: -70px;
}
.bad h2 {
  margin-bottom: 15px;
  color: var(--White);
}
.middle-container .middle-flex {
  justify-content: flex-end;
  display: flex;
  position: relative;
  align-items: center;
  margin: 25px auto;
}
.lower-container .lower-flex {
  justify-content: flex-end;
  display: flex;
  position: relative;
  align-items: center;
  margin: 25px auto;
}
.lower-top {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.lower-text {
  width: calc(50% - 2.5%);
  color: hsl(207, 13%, 34%);
  line-height: 2rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
}
.good img:not(.mobile) {
  position: absolute;
  left: -400px;
}
.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  background-color: var(--Very__dark__black-blue);
  margin-top: 250px;
  border-top-right-radius: 75px;
  padding-top: 25px;
}
footer .footer-flex {
  align-items: flex-start;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
}
footer ul,
footer a {
  list-style: none;
  color: var(--White);
  text-decoration: none;
}
footer a {
  display: inline-block;
  margin-bottom: 15px;
}

.footer-top {
  font-weight: 500;
  margin-bottom: 25px;
}
.attribution {
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #004a9e;
}
.attribution a {
  color: #0066cc;
  transition: color 0.7s 0s ease;
  text-decoration: none;
}
.attribution a:hover {
  color: #ec6ead;
}
